h1 {
    background: lightblue;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    font-size: 30px;
    font-family: arial;
    color: white
}
img {
    max-width: 90%;
    border-left: 4px solid navy;
    border-top: 4px solid navy;
    padding-left: 5px;
    padding-top: 5px;
}
blockquote {
    float: right;
    border-right: 4px solid navy;
    border-bottom: 4px solid navy;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: black;
}
p {
    text-align: left;
    float: right;
    font-size: 16px;
    color: #744;
    padding: 3px;
}
div3 {
    height: 600px;
    float:left;   
}
div {
    background: orange;
    max-height: 598px;
    border: 2px solid black;
}